.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container select {
  width: 100px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  margin-right: 5px;
  color: #666;
}

#select-specie {
  border-radius: 100px 0px 0px 100px;
}

.filter-container button {
  width: 34px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 0px 100px 100px 0px;
}

.filter-icon {
  font-size: 16px;
  color: #666;
}
