.pets-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.pets-cards {
  margin-top: 90px;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
