.dashBord-container {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 80px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.dashboard-header p:nth-child(1) {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #FF9999;
}

.dashboard-header p {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #333333;
}
