.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container input {
  width: 300px;
  height: 30px;
  left: 599px;
  top: 185px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 100px 0px 0px 100px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  margin-right: 5px;
  color: #333;
}

.search-container button {
  width: 34px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 0px 100px 100px 0px;
}

.search-icon {
  font-size: 16px;
  color: #666;
}
